.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
  }
  
  .container ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: flex-wrap;
  }
  
  .container li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(204,229,255);
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green;
    font-weight: bold;

    }
  label{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    color: #0d0d0d;
    margin: 10px;
  }
  form{
   align-items:center;
    display: flex;
    margin-left: 250px;
  }
  input{
    padding: 10px;
    color:black;
    border: 2px dotted pink;
    border-radius:20px;
    background-color:silver;
    font-size: 30px;
  }
  button{
    padding: 10px;
    color:black;
    background-color: green;
    margin-left: 3px;
    width: 50px;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
  }
  ul{
    list-style: none;
    text-decoration: none;

  }
  img{
    height: 30px;
    width: auto;
  }